README.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.4/checksums/checksums.lock
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.4/fileHashes/fileHashes.bin
/.gradle/8.4/fileHashes/fileHashes.lock
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/8.4/fileChanges/last-build.bin
/.gradle/8.4/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/8.4/fileHashes/resourceHashesCache.bin
/.gradle/8.4/checksums/sha1-checksums.bin
