<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.mapper.ColumnMapper">
    <update id="updateInfo" parameterType="com.fish.entity.dto.UpdateColumnDTO">
        update oj_column
        <set>
            <if test="columnName != null">`column_name` = #{columnName}</if>
            <if test="columnDescribe != null">`column_describe` = #{columnDescribe}</if>
        </set>
        where column_id = #{columnId}
    </update>
    <insert id="insertColumn" parameterType="com.fish.entity.dto.InsertColumnDTO">
        <selectKey keyProperty="columnId" order="AFTER" resultType="java.lang.Long" statementType="PREPARED">
            select @@IDENTITY as columnId
        </selectKey>
        insert into oj_column(column_name, column_describe) value (#{columnName}, #{columnDescribe})
    </insert>
</mapper>