<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.kexieOnlineJudge.mapper.example.ExampleMapper">
    <insert id="addExampleBatch" parameterType="java.util.ArrayList">
        insert into oj_example(`topic_id`, `input`, `output`, `showed`, `assessed`)
        values
        <foreach collection="examples" item="example" separator=",">
            (#{example.topicId}, #{example.input}, #{example.output}, #{example.showed}, #{example.assessed})
        </foreach>
    </insert>
    <update id="updateExample" parameterType="com.fish.kexieOnlineJudge.entity.dto.example.UpdateExampleDTO">
        update oj_example
        <set>
            <if test="input != null">`input` = #{input},</if>
            <if test="output != null">`output` = #{output},</if>
            <if test="showed != null">`showed` = #{showed},</if>
            <if test="assessed != null">`assessed` = #{assessed},</if>
        </set>
        where example_id = #{exampleId}
    </update>
</mapper>